*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}

:root{
    --background:linear-gradient(to right,#0D022D,#034B3F);

}

/*Accueil*/

header{
    width: 100%;
    height: 100vh;
    background-image: url(images/imageAccuiel.jpg);
    background-size: cover;
}

nav{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
   background: var(--background);
    padding: 10px 50px;
}


nav .logo img{
    width: 20%;
}

nav ul{
    display: flex;
    gap: 20px;
}

nav ul li a{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    transition: 0.3s ease;
}

nav ul li a:hover{
    color: #0BA4A4;
}

nav .button a{
    background-color:#0BA4A4;
    padding: 8px 12px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius:10px ;
    transition: 0.3s ease;
}

nav .button a:hover{
    background-color: #025a5a;
}

.hed{
   display: flex;
   flex-direction: column;
   text-align: center;
}

.hed .title h1{
    font-size: 6rem;
    font-weight: bold;
    font-family:fantasy;  
      color: #fff;
    padding-top: 15rem;
    text-shadow: 0px 10px 10px #0BA4A4;
}

.section-button{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.section-button a{
    width: 150px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background: #0BA4A4;
    padding: 10px 20px;
    margin-top: 1rem;
  
    transition: ease;
}

.section-button .color{
    background-color: #fff;
    color: #0BA4A4;
}

.section-button a:hover{
     background-color: #025a5a;
}

.section-button .color:hover{
    background-color: #b3b1b1;
}



/*conction----------------inscription--------------*/

.conxion,.inscription{
    width: 100%;
    height: 100vh;
    background: var(--background);
    display: flex;
    gap: 1rem;
}

.section_title{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    padding: 4rem 0 1rem 0;
    transition: 0.3s ease;
}

.section_title:hover{
    color: #0BA4A4;
}

.section-conction,.section-inscription{
    margin: auto;
    padding: 1rem 2rem;
}



.input .section_input p{
    font-size: 14px;
    font-weight: 600;
    color: #0BA4A4;
    padding: 0.5rem 0;
}

.input .section_input input{
    padding: 1rem;
    width: 350px;
    border: 1px solid #0BA4A4;
    border-radius: 10px;
}

.input .section_input .link-passowrd{
    text-align: right;
    padding: 0.5rem 0;
}

.input .section_input .link-passowrd a{
    color: #0BA4A4;
    font-size: 16px;
    font-weight: 800;
    transition: 0.3 ease;
}

.input .section_input .link-passowrd a:hover{
    color:#025a5a;
}

.section-conction .section-button,.section-inscription .section-button{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section-conction .section-button a,.section-inscription .section-button a{
    width: 350px;
    text-align: center;
    
}

.section-image{
    width: 40%;
}

.section-image img{
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* footer*/

footer{
    width: 100%;

}

.footer-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0D022D;
    padding: 1rem 2rem;
}

.footer-title{
    width: 30%;
}
.footer-title img{
    width: 100px;
}

.footer-title p{
    width: 60%;
    color: #4c4c4c;
    line-height: 20px;
   
}

.footer-title .icont i{
    width: 10%;
    background-color: #bffefe;
    color: #0BA4A4;
    border: 1px solid #034B3F;
    border-radius:20px;
    padding: 8px 0;
    margin: 10px 5px;

}

.footer-link h3{
    color: #fff;
}
.footer-link ul li a{
    color: #4c4c4c;
    line-height: 30px;
}

.footer-link ul li a i{
    color: #0BA4A4;
}




